header {
    background-image: url(../image/cafeaccueil.jpg);
    background-size: cover;
    background-position: center;
}

header .content {
    position: relative;
    max-width: 50vw;
    color: white;
    margin: 10% 0 10% 15%;
}

header .content h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--accent-color);
}

header .content p {
    font-weight: 400;
    line-height: 3vh;
    font-size: 2vh;
    margin: 2vh 0 0 2vh;
    text-align: justify;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3px);
    padding: 2rem 3rem;
    border-radius: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}