.headerall {
    position: relative;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    overflow: hidden;
}

.headerall::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 20%;
    height: 1vh;
    background: var(--primary-color);
}

.headerall h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 0.3rem;
    background: rgba(47, 27, 16, 0.6);
    padding: 1rem 2rem;
    border-radius: 15px;
    backdrop-filter: blur(3px);
}

.headerall h2:before {
    top: -2%;
    left: 1rem;
}

.headerall h2:after {
    right: 1rem;
    bottom: 0;
}

.returnbtn {
    background: var(--primary-color);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 20px 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-family: var(--font-title);
    font-weight: 600;
    text-decoration: none;
}

.returnbtn:hover {
    transform: scale(1.2);
    color: black;
    border: 2px solid var(--primary-color);
    background: white;
}