#specialites .content {
    background-image: url("../image/grains1.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

#products-list {
    width: 90%;
    background: rgba(139, 69, 19, 0.6);
    padding: 0.5%;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product {
    font-size: large;
    font-weight: bolder;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    background: #2F1B10; 
}

.product i {
    margin-right: 10px;
}

#explications {
    position: relative;
    overflow: hidden;
    height: 95%;
    width: 50%;
    background: linear-gradient(135deg, #2F1B10 0%, #3E2723 100%);
}

#explications div {
    position: absolute;
    bottom: -110%;
    height: 100%;
    width: 100%;
    transition: bottom 0.8s ease-in-out;
    padding: 1rem;
}

#explications div span {
    background: rgba(255, 255, 255, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding: 1rem;
    display: block;
}

#specialites:has(#products-list .product:hover) #products-list .product:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
}

#specialites:has(#products-list .product:nth-child(1):hover) #explications div:nth-child(1),
#specialites:has(#products-list .product:nth-child(2):hover) #explications div:nth-child(2),
#specialites:has(#products-list .product:nth-child(3):hover) #explications div:nth-child(3),
#specialites:has(#products-list .product:nth-child(4):hover) #explications div:nth-child(4),
#specialites:has(#products-list .product:nth-child(5):hover) #explications div:nth-child(5),
#specialites:has(#products-list .product:nth-child(6):hover) #explications div:nth-child(6),
#specialites:has(#products-list .product:nth-child(7):hover) #explications div:nth-child(7),
#specialites:has(#products-list .product:nth-child(8):hover) #explications div:nth-child(8) {
    bottom: 0;
}